In [24]:
import pandas as pd
import numpy as np
from datetime import datetime



#loading dataset
df = pd.read_csv('/content/drive/MyDrive/PDS/Assignment 2/train.csv')


df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

**1. Handling Missing values**

In [23]:
# Printing the number of missing values in each column before cleaning
print("Missing values before cleaning:\n", df.isnull().sum())


for col in df.columns:
    if df[col].isnull().sum() > 0:  # If the column has missing values
        if df[col].dtype == 'object':
            # For categorical columns (strings), fill missing values with the mode
            df[col] = df[col].fillna(df[col].mode()[0])
        else:
            # For numeric columns, fill missing values with the median value
            df[col] = df[col].fillna(df[col].median())

# Printing  the number of missing values in each column after cleaning
print("Missing values after cleaning:\n", df.isnull().sum())

Missing values before cleaning:
 Unnamed: 0      0
Name            0
Location        0
Year            0
KMs_Driven      0
Fuel_Type       0
Transmission    0
Owner_Type      0
Mileage         3
Engine          0
Power           0
Seats           0
New_Price       0
Price           0
Car_Age         0
Price_per_KM    0
dtype: int64
Missing values after cleaning:
 Unnamed: 0      0
Name            0
Location        0
Year            0
KMs_Driven      0
Fuel_Type       0
Transmission    0
Owner_Type      0
Mileage         0
Engine          0
Power           0
Seats           0
New_Price       0
Price           0
Car_Age         0
Price_per_KM    0
dtype: int64

**2.Removing attributes**

In [25]:
# Removing units from 'Mileage', 'Engine', and 'Power'
df['Mileage'] = pd.to_numeric(df['Mileage'].str.replace(' kmpl', ''), errors='coerce')
df['Engine'] = pd.to_numeric(df['Engine'].str.replace(' CC', ''), errors='coerce')
df['Power'] = pd.to_numeric(df['Power'].str.replace(' bhp', ''), errors='coerce')


df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199.0,88.70,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50

**3.Changing categorical values to numerical**

In [26]:
# Encoding categorical variables: Diesel/Manual as 1, Petrol/Automatic as 0
df['Fuel_Type'] = df['Fuel_Type'].map({'Diesel': 1, 'Petrol': 0})
df['Transmission'] = df['Transmission'].map({'Manual': 1, 'Automatic': 0})

df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,1.0,1,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,0.0,1,First,NaN,1199.0,88.70,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,1.0,1,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,1.0,0,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,1.0,1,First,23.08,1461.0,63.10,5.0,NaN,3.50

**4.Calculating current age**

In [27]:
# Calculating car age by subtracting manufacturing year from the current year
current_year = datetime.now().year
df['Car_Age'] = current_year - df['Year']


df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,1.0,1,First,19.67,1582.0,126.20,5.0,NaN,12.50,10
1,2,Honda Jazz V,Chennai,2011,46000,0.0,1,First,NaN,1199.0,88.70,5.0,8.61 Lakh,4.50,14
2,3,Maruti Ertiga VDI,Chennai,2012,87000,1.0,1,First,20.77,1248.0,88.76,7.0,NaN,6.00,13
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,1.0,0,Second,15.20,1968.0,140.80,5.0,NaN,17.74,12
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,1.0,1,First,23.08,1461.0,63.10,5.0,NaN,3.50,12

**5.Performing Operations**

In [28]:
# Selecting  specific columns
selected_df = df[['Name', 'Location', 'Price', 'Car_Age', 'Fuel_Type', 'Transmission']]
print("Selected Columns:\n", selected_df.head())

# Filtering cars priced above 5 lakhs and less than 8 years old
filtered_df = df[(df['Price'] > 5) & (df['Car_Age'] < 8)]
print("Filtered Cars (Price > 5 lakhs and Car_Age < 8 years):\n")
print(filtered_df[['Name', 'Price', 'Car_Age']].head())

# Renaming column
df.rename(columns={'Kilometers_Driven': 'KMs_Driven'}, inplace=True)
print("Renamed Columns:\n", df.columns.tolist())

# Creating a new column to measure price per kilometer driven
df['Price_per_KM'] = df['Price'] / df['KMs_Driven']
print("New Column 'Price_per_KM':\n", df[['Price', 'KMs_Driven', 'Price_per_KM']].head())

# Sorting cars by price in descending order
sorted_df = df.sort_values(by='Price', ascending=False)
print("Top 5 Most Expensive Cars:\n", sorted_df[['Name', 'Price']].head())

# Grouping  by location and calculating average price and car age
grouped_summary = df.groupby('Location')[['Price', 'Car_Age']].mean().reset_index()
print("Average Price & Car_Age by Location:\n", grouped_summary.head())

Selected Columns:
                                Name    Location  Price  Car_Age  Fuel_Type  \
0  Hyundai Creta 1.6 CRDi SX Option        Pune  12.50       10        1.0
1                      Honda Jazz V     Chennai   4.50       14        0.0
2                 Maruti Ertiga VDI     Chennai   6.00       13        1.0
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  17.74       12        1.0
4            Nissan Micra Diesel XV      Jaipur   3.50       12        1.0

   Transmission
0             1
1             1
2             1
3             0
4             1
Filtered Cars (Price > 5 lakhs and Car_Age < 8 years):

                                        Name  Price  Car_Age
8                           Maruti Ciaz Zeta   9.95        7
26                       Honda WRV i-VTEC VX   9.90        7
34             Maruti Vitara Brezza ZDi Plus   8.63        7
65  Mercedes-Benz C-Class Progressive C 220d  35.67        6
67           Hyundai Creta 1.4 E Plus Diesel  10.50        7
Renamed Columns:
 ['Unnamed: 0', 'Name', 'Location', 'Year', 'KMs_Driven', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price', 'Price', 'Car_Age']
New Column 'Price_per_KM':
    Price  KMs_Driven  Price_per_KM
0  12.50       41000      0.000305
1   4.50       46000      0.000098
2   6.00       87000      0.000069
3  17.74       40670      0.000436
4   3.50       86999      0.000040
Top 5 Most Expensive Cars:
                                              Name   Price
3952  Land Rover Range Rover 3.0 Diesel LWB Vogue  160.00
5620                   Lamborghini Gallardo Coupe  120.00
5752                       Jaguar F Type 5.0 V8 S  100.00
1457              Land Rover Range Rover Sport SE   97.07
1917                           BMW 7 Series 740Li   93.67
Average Price & Car_Age by Location:
      Location      Price    Car_Age
0   Ahmedabad   8.567248  11.660550
1   Bangalore  13.482670  12.161932
2     Chennai   7.958340  12.926471
3  Coimbatore  15.160206   9.583201
4       Delhi   9.881944  11.653704